<p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
</p>
<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>
<p>
  <%= link_to 'Apagar Comentario', [comment.article, comment],
  method: :delete,
  data: { confirm: 'Apagar comentário?' } %>
</p>
<br/>